body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

.table th, .table td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.table img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.delete-btn {
    padding: 6px 12px;
    background: crimson;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.logout-btn {
    display: inline-block;
    padding: 8px 15px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}